.dashboard {
  background-image: url("./assets/bgc4.gif");
  background-repeat: repeat-y;
  background-size: 100% 100%;
  height: 100%;
  margin-left: 7vw;
  padding-bottom: 30px;
}

.dashTitle {
  border-bottom: 2px white solid;
  font-size: 50px;
  color: #611f86;
  margin-left: 8%;
}

.friendsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 10vh;
}

.title {
  font-size: 50px;
  color: #ff6868;
  /*margin-left: 6%;
  margin-top: 1%;*/
  /*display: inline-block;*/
}

.submitSurveys {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ff6868;
  font-size: 50px;

  background-color: rgba(89, 102, 114, 0.8);
  width: 90%;
  height: 135px;
  margin-left: 3%;
  margin-top: -4%;
  border-radius: 10px;
}

.submitSurveys:hover {
  background-color: rgba(89, 102, 114, 0.95);
}

/*
.friend {
  width: 85%;
  height: 150px;
  background-color: #596672;
  margin: 40px 12%;
  borde
  r-radius: 10px;
}*/
/*
.friend {
  background-image: url("./assets/friendBar.jpeg");
  background-size: 100% 100%;
  width: 85%;
  height: 135px;
  margin: 30px 12%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  margin: 22px 2%;
  float: left;
}
.intimacy {
  padding-top: 6%;
  width: 250px;
  height: 15px;
  accent-color: #2ecc71;
}
.name {
  font-size: 30px;
  padding-top: 2%;
}
*/
/*
.dashContainer {
  /*height: 70px;*/
/*width: 800px;*/
/*margin: 100px auto 0 auto;*/ /*
}*/
/*
.search {
  background-color: #f3f3f3;
  width: 300px;
  height: 40px;
  border-radius: 18px;
  outline: none;
  border: 1px solid #ccc;
  /*padding-left: 20px;
  position: absolute;*/

.btn {
  height: 35px;
  width: 40px;
  position: absolute;
  background: url("./assets/search.png");
  top: 6px;
  left: 270px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: 100% 100%;
}
/*
.intimacy_1 {
  margin-left: 45%;
  width: 200px;
  height: 48px;
  accent-color: #2ecc71;
  display: block;
}*/
/*
.text {
  font-size: 20px;
  float: left;
  margin-left: 10%;
  line-height: 48px;
}*/

